//
   Created by Administrator on 15/4/27.
append styles
   link(rel='stylesheet', href='/stylesheets/loading.css')

#site-loading(data-message="LOADING", data-percent="81%")
   .position
      .loading
         .outer-circle
         .inner-shadow
         .inner-progressor
         .inner-circle
            i.percent 14%
            span.msg LOADING

