doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    script(src="/lib/jquery/dist/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/require.js", data-main="/javascripts/main.js")
  body
    block content
    link(rel='stylesheet', href='/stylesheets/style.css')
