
$tab-height: 20px

#buildings
  position: fixed
  bottom: 0
  left: 0
  right: 0
  top: auto
  width: 100%

  .tab-content
    margin-bottom: $tab-height

    li
      display: inline-block

  .tab-panel
    li
      cursor: pointer
      display: inline-block