
$tab-height: 20px

#buildings
  position: fixed
  bottom: 0
  left: 0
  right: 0
  top: auto
  width: 100%

  .tab-content
    margin-bottom: $tab-height

    li
      display: inline-block

  .tab-panel
    li
      cursor: pointer
      display: inline-block

#builder
  .building
    width: 50px
    height: 50px
    background-color: #000
// 攻击范围
#areas
  svg
    circle
      stroke: #eee
      stroke-width: 2px
      fill: #fff
    path